* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
  }
main {
    width: 100%;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  
  .sidebar {
    background-color: white;
    height: 100%;
    width: 70px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: .2s width;
    transition: .2s width;
    z-index: 200;
    overflow: hidden;
  }
  .sidebar .nav-menu-item span{
    margin-left: -10px;
  }
  .sidebar .nav-menu-item p {
    opacity: 0;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    font-size: 20px;
    padding-left: 20px;
    font-family: "Lobster";
  }
  
  .sidebar:hover .nav-menu-item p {
    opacity: 100%;
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  
  .sidebar .nav-menu-item span {
    font-size: 28px;
    margin-top: -10px;
  }
  
  .sidebar:hover {
    width: 200px;
    -webkit-transition: .2s width;
    transition: .2s width;
    z-index: 200;
  }
  
  .sidebar .nav-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  
  .sidebar .nav-menu .nav-menu-item {
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s color;
    transition: .2s color;
  }
  
  .sidebar .nav-menu .nav-menu-item:hover > * {
    -webkit-transition: .2s color;
    transition: .2s color;
    color: #ee6344;
  }
  a{
    text-decoration: none;
    display: block;
    color: inherit;
  }
  .menu{
    margin: 0 auto;
    width: 95%;
  }
  .menu h3{
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-family: Roboto;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  .list .item {
    width: 100%;
    max-width: 70%;
    padding: 30px;
    margin: 20px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    cursor: pointer;
    border-radius: 5px;
  }
  .list .item:hover {
    -webkit-box-shadow: 0 0 8px 10px #ee6344;
            box-shadow: 0 0 8px 10px #ee6344;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
  }
  
  .list .item .buy-item {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .list .item .buy-item .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-family: Roboto;
    margin-top: 10px;
  }
  
  .list .item .name {
    font-size: 24px;
    font-family: Lobster;
    margin: 10px 0;
  }
  
  .list .item img {
    height: 220px;
    width: 220px;
    border-radius: 5px;
  }
  .drinks{
    display: flex;
    width: 100%;
  }
  .drinks-item{
    display: flex;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.04);
    
  }
  .item-name{
    font-family: Lobster;
  }

@media(max-width: 992px){
    .list{
        margin-left: 10%;
    }
    .drinks-item{
        margin-left: 10%;

    }
  .menu h3{
    margin-left: 10%;
    font-size: 30px;
  }
  .list .item img {
    width: 180px;
    height: 180px;
  }
}