* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
  }
main {
    width: 100%;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  
  .sidebar {
    background-color: white;
    height: 100%;
    width: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: .2s width;
    transition: .2s width;
    z-index: 200;
    overflow: hidden;
  }
  
  .sidebar .nav-menu-item p {
    opacity: 0;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    font-size: 24px;
    padding-left: 20px;
    font-family: "Lobster";
  }
  
  .sidebar:hover .nav-menu-item p {
    opacity: 100%;
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  
  .sidebar .nav-menu-item span {
    font-size: 35px;
  }
  
  .sidebar:hover {
    width: 300px;
    -webkit-transition: .2s width;
    transition: .2s width;
    z-index: 200;
  }
  
  .sidebar .nav-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  
  .sidebar .nav-menu .nav-menu-item {
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s color;
    transition: .2s color;
  }
  
  .sidebar .nav-menu .nav-menu-item:hover > * {
    -webkit-transition: .2s color;
    transition: .2s color;
    color: #ee6344;
  }
  .pizza-content{
    margin: 0 auto ;
    display: flex;
    background-color: rgba(0, 0, 0, 0.04);
    width: 70%;
  }
  .pizza-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  
  .pizza-list .pizza-item {
    width: 100%;
    max-width: 280px;
    padding: 30px;
    margin: 20px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    cursor: pointer;
    border-radius: 5px;
  }
  .pizza-list .pizza-item:hover {
    -webkit-box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.04);
            box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.04);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
  }
  
  .pizza-list .pizza-item .buy-item {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .pizza-list .pizza-item .buy-item .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-family: Roboto;
    margin-top: 10px;
  }
  
  .pizza-list .pizza-item .pizza-name {
    font-size: 24px;
    font-family: Lobster;
    margin: 10px 0;
  }
  
  .pizza-list .pizza-item img {
    height: 220px;
    width: 220px;
    border-radius: 5px;
  }